<h1>Profiles#edit</h1>
<p>Find me in app/views/profiles/edit.html.erb</p>

<div class="container">
  <div class="edit-profile">
    <%= simple_form_for @user, url: profiles_path, method: :post do |f| %>
      <%= f.input :full_name, placeholder:'FullName', label: false %>
      <%= f.input :country,placeholder:'Country',label: false %>
      <%= f.input :genre, prompt: 'Gender', label: false,collection: User::GENRES %>
      <%=f.input :username, placeholder:'Username',label: false %>
      <%= f.submit 'Save changes', class: 'btn btn-warning' %>
    <% end %>
  </div>
</div>