<div class="container">
  <h1><%=@user.username%></h1>

    <div class='User-show'>
      Name: <%= @user.full_name %>
      <br>
      Gender: <%= @user.genre %>
      <br>
      Country: <%= @user.country %>
      <br>
      Location: <%= @user.location %>
      <br>
      About: <%= @user.about %>
    </div>

</div>

