<div class="container">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  placeholder: 'Email',
                  label: false,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :username,
                  required: true,
                  autofocus: true,
                  placeholder: 'Username',
                  label: false,
                  input_html: { autocomplete: "username" }%>
      <%= f.input :genre, 
                  prompt: 'Gender',
                  label: false,
                  collection: User::GENRES %>
      <%= f.input :password,
                  required: true,
                  placeholder: 'Password',
                  label: false,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  placeholder: 'Confirm your password',
                  label: false,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

<%# ADICIONAR UM BOTAO DE BACK %>

  <%= render "devise/shared/links" %>
</div>
