<div class="container chatroom-body">
  <div class="row">
    <div class="col-lg-8">
      <h2><%= @activity.title %></h2>
      <h5>Chatroom</h5>

      <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>

      <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Message ID##{@chatroom.id}" %>
      <% end %>
      
      <%= link_to "Retornar à atividade", activity_path(@activity) %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>