<div class="container">

  <h1>Chatroom</h1>
  <h3><%= @activity.title %></h3>

  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message ID##{@chatroom.id}" %>
  <% end %>
  
  <%= link_to "Retornar à atividade", activity_path(@activity) %>
</div>

<%= render "shared/footer" %>