<div class="category multiple-items">
  <div class="carousel-category">
    <%= link_to activities_path(:category => "Ao ar livre") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.18), rgba(0,0,0,0.18)), url(https://images.unsplash.com/photo-1580537782660-2ee130aed8ad?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTg3fHxwYXJrfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
        <p>Ao ar livre</p>
      </div>
    <% end %>
  </div>
  <div class="carousel-category">
    <%= link_to activities_path(:category => "Natureza") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.18), rgba(0,0,0,0.18)), url(https://images.unsplash.com/photo-1455218873509-8097305ee378?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80)">
        <p>Natureza</p>
      </div>
    <% end %>
  </div>
  <div class="carousel-category">
    <%= link_to activities_path(:category => "Cultural") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.18), rgba(0,0,0,0.18)), url(https://images.unsplash.com/photo-1594794312433-05a69a98b7a0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80)">
        <p>Cultural</p>
      </div>
    <% end %>
  </div>
  <div class="carousel-category">
    <%= link_to activities_path(:category => "Esportes") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.18), rgba(0,0,0,0.18)), url(https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8c29jY2VyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
        <p>Esportes</p>
      </div>
    <% end %>
  </div>
  <div class="carousel-category">
    <%= link_to activities_path(:category => "Gastronomia") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.18), rgba(0,0,0,0.18)), url(https://images.unsplash.com/photo-1542528180-a1208c5169a5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NzR8fGRpbm5lcnxlbnwwfDB8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
        <p>Gastronomia</p>
      </div>
    <% end %>
  </div>
  <div class="carousel-category">
    <%= link_to activities_path(:category => "Aventura") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.18), rgba(0,0,0,0.18)), url(https://images.unsplash.com/photo-1553519247-44662ceaaf0b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80)">
        <p>Aventura</p>
      </div>
    <% end %>
  </div>
  <div class="carousel-category">
    <%= link_to activities_path(:category => "Festas") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.18), rgba(0,0,0,0.18)), url(https://images.unsplash.com/photo-1596131397999-bb01560efcae?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80)">
        <p>Festas</p>
      </div>
    <% end %>
  </div>
  <div class="carousel-category">
    <%= link_to activities_path(:category => "Bares") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.18), rgba(0,0,0,0.18)), url(https://images.unsplash.com/photo-1543007630-9710e4a00a20?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=675&q=80)">
        <p>Bares</p>
      </div>
    <% end %>
  </div>
  <div class="carousel-category">
    <%= link_to activities_path(:category => "Shows") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.18), rgba(0,0,0,0.18)), url(https://images.unsplash.com/photo-1565035010268-a3816f98589a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80)">
        <p>Shows</p>
      </div>
    <% end %>
  </div>
  <div class="carousel-category">
    <%= link_to activities_path(:category => "Compras") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.18), rgba(0,0,0,0.18)), url(https://images.unsplash.com/photo-1561069934-eee225952461?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">
        <p>Compras</p>
      </div>
    <% end %>
  </div>
  <div class="carousel-category">
    <%= link_to activities_path(:category => "Transportes") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.18), rgba(0,0,0,0.18)), url(https://images.unsplash.com/photo-1503776470087-3569342b4a2e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80)">
        <p>Transportes</p>
      </div>
    <% end %>
  </div>
  <div class="carousel-category">
    <%= link_to activities_path(:category => "Outros") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.18), rgba(0,0,0,0.18)), url(https://images.unsplash.com/photo-1568819107248-c5ebc8b62fad?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80)">
        <p>Outros</p>
      </div>
    <% end %>
  </div>
</div>