  <div class="form-inline ml-auto x1">
    <div class="field">
      <%= form_tag activities_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control",
          placeholder: "Type a city"%>
    </div>
      <%= submit_tag "Search", class: "btn btn-outline-light ml-1 my-sm-0" %>
    <% end %>
    </div>
  <br>
  
    <%= render "shared/banner" %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 category">
      <div>
        <%= link_to "Ao ar livre", activities_path(:category => "Ao ar livre") %>  
      </div>
      <div>
        <%= link_to "Natureza", activities_path(:category => "Natureza") %>  
      </div>
      <div>
        <%= link_to "Cultural", activities_path(:category => "Cultural") %>
      </div>
      <div>
        <%= link_to "Esportes", activities_path(:category => "Esportes") %>
      </div>
      <div>
        <%= link_to "Gastronomia", activities_path(:category => "Gastronomia") %>  
      </div>
      <div>
        <%= link_to "Aventura", activities_path(:category => "Aventura") %>  
      </div>
      <div>
        <%= link_to "Festas", activities_path(:category => "Festas") %>  
      </div>
      <div>
        <%= link_to "Bares", activities_path(:category => "Bares") %>  
      </div>
      <div>
        <%= link_to "Shows", activities_path(:category => "Shows") %>  
      </div>
      <div>
        <%= link_to "Compras", activities_path(:category => "Compras") %>  
      </div>
      <div>
        <%= link_to "Transportes", activities_path(:category => "Transportes") %>  
      </div>
      <div>
        <%= link_to "Outros", activities_path(:category => "Outros") %>  
      </div>
    </div>
  </div>
</div>
    
  <%= render "shared/footer" %>
