<h1>Activities#edit</h1>
<p>Find me in app/views/activities/edit.html.erb</p>

  <div class="container">
  <div class="edit-activity">
    <%= simple_form_for @activity do |f| %>
      <%= f.input :title, placeholder:'Title', label: false %>
      <%= f.input :initial_date, placeholder:'Initial Date', label: false %>
      <%= f.input :final_date, placeholder:'Final Date', label: false %>
      <%=f.input :location, placeholder:'Location', label: false %>
      <%= f.submit 'Save changes', class: 'btn btn-warning' %>
    <% end %>
  </div>
</div>