<div class="container">
  <div class="index-title">
    <h1>Bora!</h1>
  </div>
      
      <div class="index-cards">
        <% @activities.each do |activity| %>
          <div class="card-product">
            <% icones = ['https://res.cloudinary.com/dhehnzh5i/image/upload/v1607449724/camera-removebg-preview_gdg6dm.png',
                          'https://res.cloudinary.com/dhehnzh5i/image/upload/v1607449724/bussola-removebg-preview_y3t4oz.png',
                          'https://res.cloudinary.com/dhehnzh5i/image/upload/v1607449724/pin-removebg-preview_fkvczx.png'] %>
              <%= cl_image_tag(icones.sample, :size => "70x70", :crop => :fill) %>
            <div class="card-product-infos">
              <%= link_to activity_path(activity), class: 'activities-card', :action => 'go' do %>
                <div class="activity-card">
                  <h5><%= activity.title %></h5>
                  <h6><%= activity.location %></h6>
                  <% activity.latitude %><% activity.longitude %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
        
        

      <div class="index-map">
        <div id="map"
          style="width: 100%; height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

</div>

  <%= render "shared/footer" %>