<div class="container">
  <div class="index-title">
    <h1>Bora...</h1>
  </div>
      
      <div class="index-cards">
        <% @activities.each do |activity| %>
          <%= link_to activity_path(activity), class: 'activities-card', :action => 'go' do %>
            <div class="card-product">
              <% case activity.category %>
                  <% when 'Ao ar livre'%>
                  <%= image_tag('aoarlivre.png') %>
                  <% when 'Natureza' %>
                  <%= image_tag('natureza.png') %>
                  <% when 'Aventura' %>
                  <%= image_tag('aventura.png') %>
                  <% when 'Cultural' %>
                  <%= image_tag('cultural.png') %>
                  <% when 'Festas' %>
                  <%= image_tag('festas.png') %>
                  <% when 'Bares' %>
                  <%= image_tag('bares.png') %>
                  <% when 'Shows' %>
                  <%= image_tag('shows.png') %>
                  <% when 'Gastronomia' %>
                  <%= image_tag('gastronomia.png') %>
                  <% when 'Compras' %>
                  <%= image_tag('compras.png') %>
                  <% when 'Transporte' %>
                  <%= image_tag('transporte.png') %>
                  <% when 'Esportes'%>
                  <%= image_tag('esportes.png') %>
                  <% when 'Outros'%>
                  <%= image_tag('outros.png') %>
                <% end %>
              <div class="card-product-infos">
                  <div class="activity-card">
                    <h5><%= activity.title %></h5>
                    <h6><%= activity.location %></h6>
                    <% activity.latitude %><% activity.longitude %>
                  </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
        
        

      <div class="index-map">
        <div id="map"
          style="width: 100%; height: 500px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

</div>

  <%= render "shared/footer" %>