<div class="container">

  <h1>Bora?</h1>

  <div class="card-activity">
      <%= cl_image_tag('https://res.cloudinary.com/dhehnzh5i/image/upload/v1607033910/bike_v0f0k8.jpg', :size => "250x250", :crop => :fill, class: "activity-pic") %>
      <div class="card-activity-infos">
        <div>
          <h5>Passeio de bike</h5>
        </div>
      </div>
    </div>

  <div class="activities-wrapper">
    <% @activities.each do |activity| %>
      <%= link_to activity_path(activity), class: 'activities-card', :action => 'go' do %>
        <div class="activity-card">
          <%= activity.title %>
          <%= activity.location %>
          <%= activity.initial_date %>
          <%= activity.final_date %>
          <% activity.latitude %><% activity.longitude %>
          <%= activity.user.username %>
        </div>
      <% end %>
    <% end %>
    <%= link_to "Adicionar uma atividade", new_activity_path %>
  </div>

  <div>
      <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>

</div>