<div class="container">
    <div class="new-title">
      <h3>Bora fazer o que?</h3>
    </div>
  <div class="row new-activity">
    <div class="col-sm-12 col-lg-6">

      <div class='form-content'>
      <%= simple_form_for(@activity) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <br>
      <br>
        <div class="form-inputs fields">
          <%= f.input :title, :label => "Qual o nome da atividade?" %>
          <%= f.input :category, as: :radio_buttons, collection: ['Ao ar livre',
           'Natureza', 'Aventura', 'Cultural', 'Festas', 'Bares', 'Shows', 'Gastronomia',
            'Compras', 'Transporte', 'Esportes', 'Outros'], wrapper: :vertical_collection_inline, :label => "Categoria" %>
          <%= f.input :location, :label => "Onde vai ser?" %>
          <%= f.input :description, :label => "Coloque uma breve descrição" %>
          <div class='form-inline'>
          <div class="calendario">
          <%= f.input :initial_date, as: :string, required: false, input_html: {class: "datepicker"}, :label => false, :placeholder => "Data inicial" %>
          </div>
          <div class="calendario">
          <%= f.input :final_date, as: :string, required: false, input_html: {class: "datepicker"}, :label => false, :placeholder => "Data final" %>
          </div>
          </div>
          <br>
          <%= f.input :photo, as: :file, :label => "Coloque uma foto legal" %>
        </div>
        <br>
          <div class="btn-new">
          <%= f.button :submit, "Adicionar", class: "btn btn-warning" %>
          </div>
      
        </div>
      <% end %>

    </div>
  </div>
</div>

  <%= render "shared/footer" %>