<div class="container">


  <h1><%= @activity.title %></h1>

  <div class="activity-show-wrapper">
    <%= @activity.title %>
    <%= @activity.location %>
    <%= @activity.category %>
    <%= @activity.initial_date %>
    <%= @activity.final_date %>
    <% @activity.latitude %><% @activity.longitude %>
    <%= @activity.user.username %>
  </div>

  <div>
    <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>


<% unless @exploration_act.include?(current_user) %>
  <%= simple_form_for [ @activity, @exploration ] do |f| %>
    <%= f.submit "Join this activity", class: "btn btn-primary" %>
  <% end %>
<% end %>

<% @exploration_act.each do |exploration| %>
  <%= exploration.username %>
<% end %>

<%= link_to "voltar", activities_path, class: "btn btn-primary"  %>
<br>
<% if @exploration_act.include?(current_user) %>
  <%= link_to "Go to chat!", chatroom_path(@chatroom), class: "btn btn-primary" %>
<% end %>
</div>



