<div class="container">




  <div class="activity-show-wrapper">
  <h1 class="text-center"><%= @activity.title %></h1>
<br>
    <div class="container">
      <div class="row ml-3">
        <div class="col">Atividade:</div>
        <div class="col"><%= @activity.title %></div>
        <div class="w-100"></div>
        <div class="col">Localização:</div>
        <div class="col"><%= @activity.location %></div>
        <div class="w-100"></div>
        <div class="col">Categoria:</div>
        <div class="col"><%= @activity.category %></div>
        <div class="w-100"></div>
        <div class="col">Início:</div>
        <div class="col"><%= @hour[0] + ' - '%><%= @date[0] %> </div>
        <div class="w-100"></div>
        <div class="col">Fim:</div>
        <div class="col"><%= @hour[1] + ' - '%>   <%= @date[1] %> </div>
        <div class="w-100"></div>
        <div class="col">Criado por:</div>
        <div class="col"><%= link_to @activity.user.username, profile_path(@activity.user) %>  <%= render 'shared/flag', link: @country_code.downcase %></div>
        <div class="w-100"></div>
        <br>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="car-title"><h3>Membros participantes:</h3></div>
    <div class="car-wrapper">
      <div class="particip-carousel">
        <% @exploration_act.each do |exploration| %>
          <%= link_to profile_path(exploration.id) do %>
            <div class="a-flags" style="background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url(<%="https://lipis.github.io/flag-icon-css/flags/4x3/#{exploration.country_code.downcase}.svg"%>)">
              <p><%= exploration.username %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

<br>
  <div>
    <div id="map"
      style="width: 100%; height: 500px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

  <div class="bottom-buttons">
    <% unless @exploration_act.include?(current_user) %>
      <%= simple_form_for [ @activity, @exploration ] do |f| %>
        <%= f.submit "Join this activity", class: "btn btn-primary" %>
      <% end %>
    <% end %>

    <% if @exploration_act.include?(current_user) %>
      <%= link_to "Go to chat!", chatroom_path(@chatroom), class: "btn btn-primary" %>
    <% end %>

    <%= link_to "voltar", activities_path, class: "btn btn-primary"  %>
  </div>

</div>



